# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
dist/
build/
.DS_Store

# Temporary / OS files
temp/
*.log

# Copied old folder
NephoraChatbot/
